

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 40px;
  position: absolute;
  left: 25px;
  top: 37px;

}

.mainContainer_popular {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 15px;


}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;

  display: flex;
  align-items: center;
}
.mainContainer_popular_filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 7px;

  width: 431px;
  height: 56px;
}
.mainContainer_popular_filter_genre {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;

  width: 212px;
  height: 56px;

  border: 1px solid rgba(121, 121, 121, 0.5);
  border-radius: 6px;
}
.mainContainer_popular_filter_genre > span {
  width: 24px;
  height: 14px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;


  display: flex;
  align-items: center;

  color: #797979;
}

.mainContainer_popular_filter_name {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;

  width: 212px;
  height: 56px;

  border: 1px solid rgba(121, 121, 121, 0.5);
  border-radius: 6px;
}
.search-input{
  color: #797979;
  border: 1px solid #797979;
}
.mainContainer_popular_allFilms {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.favouriteFilmContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 50px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.loadingInd {
  font-family: Montserrat,sans-serif;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  animation: loadAnim 1s ease-in-out alternate-reverse infinite;
}

@keyframes loadAnim {
  0% {
    color: skyblue;
  }
  100% {
    color: #1976d2;
  }
}
